<!-- <div class="devsite-table-wrapper">
  <table>
    <tbody>

      <tr>
        <th>
          <p>PNG</p>
        </th>
        <th>
          <p>WebP-lossless</p>
        </th>
        <th>
          <p>WebP-lossy (with alpha)</p>
        </th>
      </tr>

      <tr>
        <td colspan="3">
          "Yellow Rose"
          <a href="#credits1">
            <sup>1</sup>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/1.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/1.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              border="1">
          </a>
          <br> PNG file size: 118.5 KB
        </td>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/1_webp_ll.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/1_webp_ll.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              alt="WebP-lossless Image" border="1">
          </a>
          <br> WebP-lossless file size: 80.1 KB
        </td>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/1_webp_a.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/1_webp_a.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              alt="WebP-lossy (with alpha) Image" border="1">
          </a>
          <br> WebP-lossy (with alpha) file size: 18.4 KB
        </td>
      </tr>

      <tr>
        <td colspan="3"></td>
      </tr>

      <tr>
        <td colspan="3">
          "baby tux for my user page"
          <a href="#credits2">
            <sup>2</sup>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/2.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/2.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              border="1">
          </a>
          <br> PNG file size: 40.5 KB
        </td>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/2_webp_ll.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/2_webp_ll.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              alt="WebP-lossless Image" border="1">
          </a>
          <br> WebP-lossless file size: 27.0 KB
        </td>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/2_webp_a.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/2_webp_a.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              alt="WebP-lossy (with alpha) Image" border="1">
          </a>
          <br> WebP-lossy (with alpha) file size: 14.1 KB
        </td>
      </tr>

      <tr>
        <td colspan="3"></td>
      </tr>

      <tr>
        <td colspan="3">
          "PNG transparency demonstration"
          <a href="#credits3">
            <sup>3</sup>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/3.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/3.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              border="1">
          </a>
          <br> PNG file size: 215.8 KB
        </td>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/3_webp_ll.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/3_webp_ll.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              alt="WebP-lossless Image" border="1">
          </a>
          <br> WebP-lossless file size: 149.1 KB
        </td>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/3_webp_a.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/3_webp_a.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              alt="WebP-lossy (with alpha) Image" border="1">
          </a>
          <br> WebP-lossy (with alpha) file size: 52.6 KB
        </td>
      </tr>

      <tr>
        <td colspan="3"></td>
      </tr>

      <tr>
        <td colspan="3">
          "Gregor Mendel's 189th Birthday"
          <a href="#credits4">
            <sup>4</sup>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/4.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/4.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              border="1">
          </a>
          <br> PNG file size: 63.3 KB
        </td>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/4_webp_ll.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/4_webp_ll.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              alt="WebP-lossless Image" border="1">
          </a>
          <br> WebP-lossless file size: 33.3 KB
        </td>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/4_webp_a.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/4_webp_a.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              alt="WebP-lossy (with alpha) Image" border="1">
          </a>
          <br> WebP-lossy (with alpha) file size: 19.0 KB
        </td>
      </tr>

      <tr>
        <td colspan="3"></td>
      </tr>

      <tr>
        <td colspan="3">
          "Transparent compass card for overlays"
          <a href="#credits5">
            <sup>5</sup>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/5.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/5.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              border="1">
          </a>
          <br> PNG file size: 127.1 KB
        </td>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/5_webp_ll.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/5_webp_ll.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              alt="WebP-lossless Image" border="1">
          </a>
          <br> WebP-lossless file size: 97.1 KB
        </td>
        <td>
          <a href="https://www.gstatic.com/webp/gallery3/5_webp_a.png" target="_blank">
            <img width="240" src="https://www.gstatic.com/webp/gallery3/5_webp_a.sm.png" style="background-image:url(https://www.gstatic.com/webp/gallery3/squares.png);"
              alt="WebP-lossy (with alpha) Image" border="1">
          </a>
          <br> WebP-lossy (with alpha) file size: 57.3 KB
        </td>
      </tr>

    </tbody>
  </table>
</div> -->

