<div class="devsite-table-wrapper">
  <table>
    <tbody>

      <tr>
        <td>
          <img width="240" src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" border="1">
        </td>

        <td>
          <img width="240" src="http://homepages.cae.wisc.edu/~ece533/images/airplane.png" border="1">
        </td>
      </tr>

      <tr>
        <td>
          <img width="240" src="https://homepages.cae.wisc.edu/~ece533/images/arctichare.png" border="1">
        </td>

        <td>
          <img width="240" src="http://homepages.cae.wisc.edu/~ece533/images/arctichare.png" border="1">
        </td>
      </tr>

      <tr>
        <td>
          <img width="240" src="https://homepages.cae.wisc.edu/~ece533/images/baboon.png" border="1">
        </td>

        <td>
          <img width="240" src="http://homepages.cae.wisc.edu/~ece533/images/baboon.png" border="1">
        </td>
      </tr>

    </tbody>
  </table>
</div>
